extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css
      include ../static/styleContact.css

block content
    h1 This is about page 
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus consectetur molestiae magnam qui, dolorem expedita delectus, rerum, distinctio ea quam quaerat quidem optio provident iure eveniet iusto. Perferendis voluptatem quis deleniti ad architecto, sapiente voluptates distinctio voluptatum expedita optio itaque iure voluptate dolorum eligendi quibusdam, debitis veritatis, dicta reprehenderit eaque officia consequuntur maxime. Qui natus debitis iure exercitationem illum ut labore, eveniet ratione rerum, quas culpa nulla enim adipisci, sunt ad ducimus officia minima pariatur ab neque maiores? Molestias alias recusandae non est iusto? Fugiat cupiditate dolore, a iusto quaerat molestiae quisquam, omnis voluptas, officiis ducimus unde illum aliquam voluptatum?