doctype html
html
  head
    title Saurabh Dance Academy
    block scripts 
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/1.jfif" height="50px" width="50px")
                | SDA
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class info]
            li #[a(href="/contact") Contact us]
    block content
    footer#footer 
            | Copyrght © 2022 SaurabhDanceAcademy.com | All rights reserved